body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.5;
	font-size: 16px;
	color: #666;
}

header {
	background-color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 5rem;
	padding: 5rem;
	color: white;
}

.page-header {
	color: #fff;
	margin: 0;
}

.page-header:hover {
	text-decoration: none;
}

.main-and-footer-container {
	padding: 2rem;
}

main {
	max-width: 50rem;
	margin: 0 auto;
}

main > :first-child {
	margin-top: 0;
}

main > :last-child {
	margin-bottom: 0;
}

footer {
	max-width: 50rem;
	margin: 0 auto;
	margin-top: 3rem;
	overflow: hidden;
}

footer > :first-child {
	margin-left: 0;
}

footer > :last-child {
	margin-right: 0;
}

.footer-left {
	float: left;
	margin: 0.25rem 0.3rem 0.25rem 0;
}

.footer-right {
	float: right;
	margin: 0.25rem 0 0.25rem 1rem;
}

.license-icon {
	height: 1rem;
	float: left;
	margin: 0.5rem 0.3rem 0.5rem 0;
}

.delta-footer {
	height:2rem;
	position:absolute;
	left:50%;
	margin: 0 0 0 -1rem;
	enable-background:new 0 0 1000 1000;
	transition: all .4s;
}

.delta-footer:hover {
	transform: rotate(-30deg) translate(-0.3rem, -0.25rem);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #000;
	line-height: 1.2;
	margin: 1rem 0 0 0;
}

h1, h2 {
	margin: 2rem 0 0 0;
}

h2 {
	font-weight: normal;
}

a {
	color: #2d89ef;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 > a {
	color: #000;
	text-decoration: none;
}

h1 > a:hover {
	text-decoration: none;
}

h1 > a:after,
p > a:after,
li > a:after {
	display: inline-block;
	content:"";
	position: relative;
}

p > a:not([href*="//"]):after,
li > a:not([href*="//"]):after {
	background-image: url('/img/delta_small_blue.svg');
	top: 0.1rem;
	left: 0.05rem;
	margin: -0.1rem 0.05rem -0.1rem 0;
	background-size: 1.2rem 1.2rem;
	width: 1.2rem;
	height: 1.2rem;
}

p > a[href*="//"]:not([href*="wikipedia.org"]):after,
li > a[href*="//"]:not([href*="wikipedia.org"]):after {
	background-image: url('/img/out.svg');
	top: 0.1rem;
	left: 0.1rem;
	background-size: 1rem 1rem;
	width: 1rem;
	height: 1rem;
}

p > a[href*="//"][href*="wikipedia.org"]:after,
li > a[href*="//"][href*="wikipedia.org"]:after {
	background-image: url('/img/wiki_blue.svg');
	top: 0.15rem;
	left: 0.1rem;
	margin: -0.1rem 0.1rem -0.1rem 0;
	background-size: 1.2rem 1.2rem;
	width: 1.2rem;
	height: 1.2rem;
}

h1 > a[href*="//"][href*="wikipedia.org"]:after {
	background-image: url('/img/wiki.svg');
	top: -0.4rem;
	left: -0.1rem;
	background-size: 1.5rem 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
}

footer > a {
	color: #666;
}

blockquote {
	margin-left: 0;
	padding: 0 1rem;
	color: #819198;
	border-left: 0.3rem solid #dce6f0;
}

img {
	max-width: 100%;
}

pre {
	overflow: auto;
	background-color: #f3f6fa;
	border: solid 1px #dce6f0;
	border-radius: 0.3rem;
	padding: 0.8rem;
}

code {
	background-color: #f3f6fa;
	padding: 0.125rem 0.25rem;
	border-radius: 0.3rem;
}

table {
	border-collapse:collapse;
	margin: 0.6rem 0 0 0;
}

iframe {
	margin: 0.6rem 0 0 0;
}

th, td {
	border: 1px solid #e9ebec;
	padding: 0.5rem 1rem;
}

dt {
	font-weight: bold;
}

hr {
	margin: 1rem 0;
	border-color: #e9ebec;
	border-style: solid;
}

p {
	margin: 1rem 0 0 0;
}

b {
	color: #000;
}

ol, ul {
	padding-left: inherit;
}

d1, d2, d3, d4, d5, d6 {
	display: block;
	margin: 0.6rem 0 0 0;
	padding: 0 0 0 1rem;
	border-left: 2px solid #ccc;
}

d1 > :first-child,
d2 > :first-child,
d3 > :first-child,
d4 > :first-child,
d5 > :first-child,
d6 > :first-child {
	margin-top: 0;
}

d1 > :last-child,
d2 > :last-child,
d3 > :last-child,
d4 > :last-child,
d5 > :last-child,
d6 > :last-child {
	margin-bottom: 0;
}
