html {
	font-size: 62.5%;
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100%));
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size: 1.6rem;
	color: #252525; /* Wikipedia */
}

header {
	background: #000;
	text-align: center;
	font-weight: bold;
	font-size: 8rem;
	padding: 8rem;
}

.page-header {
	color: #fff;
	margin: 0;
}

.page-header:hover {
	text-decoration: none;
}

.main-and-footer-container {
	padding: 0 4rem;
}

main {
	max-width: 108rem;
	margin: 4rem auto;
}

main > :first-child {
	margin-top: 0;
}

main > :last-child {
	margin-bottom: 0;
}

footer {
	max-width: 108rem;
	margin: 4rem auto;
	overflow: hidden;
}

footer > :first-child {
	margin-left: 0;
}

footer > :last-child {
	margin-right: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.footer-text {
	margin: 0.4rem 1.6rem;
}

.delta-footer {
	height:3.2rem;
	position:absolute;
	left: 50vw;
	margin: 0 0 0 -1.6rem;
	enable-background:new 0 0 1000 1000;
	transition: all .4s;
}

.delta-footer:hover {
	transform: translate(-0.48rem, -0.4rem) rotate(-30deg);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #000;
	line-height: 1.2;
	margin: 1.6rem 0 0 0;
}

h1, h2 {
	margin: 3.2rem 0 0 0;
}

h2 {
	font-weight: normal;
}

a {
	color: #2d89ef;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p > a:after,
li > a:after {
	display: inline-block;
	content:"";
	position: relative;
	background-image: url('/img/link_out.svg');
	top: 0;
	left: 0;
	margin: 0;
	background-size: 1.6rem 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
}

p > a:not([href*="//"]):after,
li > a:not([href*="//"]):after {
	background-image: url('/img/link_delta.svg');
}

p > a[href*="wikipedia.org"]:after,
li > a[href*="wikipedia.org"]:after {
	background-image: url('/img/link_wiki.svg');
}

footer > a {
	color: #333;
}

img {
	max-width: 100%;
}

pre {
	overflow: auto;
	background-color: #f3f6fa;
	border: solid 1px #dce6f0;
	border-radius: 0.48rem;
	padding: 1.28rem;
}

code {
	background-color: #f3f6fa;
	padding: 0.32rem 0.32rem;
	border-radius: 0.48rem;
}

table {
	border-collapse:collapse;
	margin: 1rem 0 0 0;
}

iframe {
	margin: 1rem 0 0 0;
	display: block;
}

th, td {
	border: 1px solid #e9ebec;
	padding: 0.8rem 1.6rem;
}

dt {
	font-weight: bold;
}

hr {
	margin: 1.6rem 0;
	border-color: #e9ebec;
	border-style: solid;
}

p {
	margin: 1.6rem 0 0 0;
}

ol, ul {
	padding: 0;
	list-style-position: inside;
	margin: 1rem 0 0 0;
}

d1, d2, d3, d4, d5, d6 {
	display: block;
	margin: 1rem 0 0 0;
	padding: 0 0 0 2rem;
	box-shadow: 2px 0 0 #ccc inset;
}

d1 > :first-child,
d2 > :first-child,
d3 > :first-child,
d4 > :first-child,
d5 > :first-child,
d6 > :first-child {
	margin-top: 0;
}

d1 > :last-child,
d2 > :last-child,
d3 > :last-child,
d4 > :last-child,
d5 > :last-child,
d6 > :last-child {
	margin-bottom: 0;
}
