html {
	font-size: 1vw;
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100%));
	width: 100vw;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #fff;
	width: 100vw;
	background-color: #000;
}

.header {
	background: #000;
	text-align: center;
	overflow: auto;
}

.index-layout .header {
	text-align: left;
	height: 56.25vw;
	width: 100vw;
}

.default-layout .header img {
	height: 10rem;
	padding: 3rem;
}

.index-layout .header img {
	height:40vw;
	position: absolute;
	left: 47vw;
	top: calc(0.5625 * 100vw * 0.09);
	transform: rotate(5deg);
}

.index-layout h1 {
	text-shadow: -0.1rem 0.1rem 0 #000, -0.2rem 0.2rem 0 #fff;
	text-decoration: none;
	color: #fff;
	max-width: 50vw;
	font-weight: bold;
	font-size: 7vw;
	line-height: 7vw;
	margin: 0;
	position: absolute;
	left: 9vw;
	top: calc(0.5625 * 100vw * 0.15);
}

.index-layout .header p {
	position: absolute;
	left: 9vw;
	top: calc(0.5625 * 100vw * 0.50);
	color: #fff;
	font-weight: bold;
	font-size: 2vw;
	margin: 0;
	max-width: 35vw;
	line-height: 2.2vw;
}

.main > :first-child {
	margin-top: 0;
}

.main > :last-child {
	margin-bottom: 0;
}

.footer {
	max-width: 80rem;
	margin: 6rem auto 4rem auto;
	overflow: hidden; /* Because of floating elements */
}

.footer > :first-child {
	margin-left: 0;
}

.footer > :last-child {
	float: right;
	line-height: 2rem;
	margin-right: 0;
}

.footer i {
	margin: 0 0.5rem;
}

.footer img {
	height:2rem;
	position:absolute;
	left: calc(50vw - 1.6rem);
	transition: all .4s;
}

.footer img:hover {
	transform: rotate(-30deg);
}

.white-back {
	color: #000;
	overflow: hidden;
	background-color: #fff;
	border-radius: 4px;
	margin: 4rem auto;
	max-width: 80rem;
	box-shadow: 0 0 1px #fff;
}

.white-back > * {
	margin-left: 3rem;
	margin-right: 3rem;
}

.white-back > :first-child {
	margin-top: 1.8rem;
}

.white-back > :last-child {
	margin-bottom: 2.9rem;
}

h1 {
	font-size: 3rem;
	text-shadow: -0.05rem 0.05rem 0 #fff, -0.1rem 0.1rem 0 #000;
	margin-bottom: 1rem;
}

h2 {
	font-size: 3rem;
	text-shadow: -0.05rem 0.05rem 0 #fff, -0.1rem 0.1rem 0 #000;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.6rem;
	font-weight: normal;
	padding-bottom: 0.4rem;
	border-bottom: 1px solid #000;
}

a {
	color: #fff;
	text-decoration: none;
}

.white-back p a {
	color: #000;
	text-decoration:none;
	background-image: linear-gradient(to bottom, #51caff, #51caff);
	background-repeat: no-repeat;
  background-size: 100% 10%;
  background-position: 100% 100%;
  transition: background-size 0.05s ease-in;
}

.white-back p a:hover{
	background-size: 100% 35%;
}

.white-back p .proof {
	background-image: none;
}

.white-back p .proof:after {
	color: #48b4e3;
	content: "\f08e";
	font-family: FontAwesome;
}


/*fa-external-link*/

/*.white-back a:after{
	content: "❯";
}*/

/*.white-back a:not([href*="//"]) {
}*/

img {
	max-width: 100%;
}

pre {
	overflow: auto;
	background-color: #f3f6fa;
	border: solid 1px #dce6f0;
	border-radius: 0.48rem;
	padding: 1.28rem;
}

code {
	background-color: #f3f6fa;
	padding: 0.32rem 0.32rem;
	border-radius: 0.48rem;
}

table {
	border-collapse: collapse;
	overflow: auto;
	display: block;
	margin: 1.6rem 0;
	text-align: center;
}

th, td {
	border: 1px solid #e9ebec;
	padding: 0.8rem 1.6rem;
}

.t-red {
	background-color: #ffe6de;
}

.t-green {
	background-color: #deffe6;
}

dt {
	font-weight: bold;
}

hr {
	margin: 1.6rem 0;
	border-color: #e9ebec;
	border-style: solid;
}

p {
	margin: 1.5rem 0;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

ol, ul {
	padding: 0;
	margin: 1.6rem 0;
	list-style-position: inside;
}

ul {
	list-style-type: none;
}

ul > li::before {
	content: "• "
}

gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1.6rem 0;
	padding: 0.4rem 0;
}

gallery > img,
.zoom-img {
	cursor: zoom-in;
	margin: -0.4rem;
	height: 15rem;
	border: #000 solid 0.8rem;
	position: relative;
}

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	align-items: center;
	justify-content: center;
}

#modal-img {
	display: block;
	cursor: zoom-out;
	max-width: 90%;
	max-height: 95%;
}

.youtube-embed-container-2 {
	max-width: 56rem;
	margin: 1.6rem auto;
}

.youtube-embed-container-1 {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	border: #000 solid 0.8rem;
}

.youtube-embed {
	position: absolute;
	width: 100%;
	height: 100%;
}

.disclaimer {
	display: block;
	padding: 1rem 2.7rem;
	background-color: #edf0f5;
	box-shadow: 0.8rem 0 0 #000 inset;
}

.disclaimer > p {
	margin: 0.8rem 0;
}

.disclaimer > :first-child {
	margin-top: 0;
}

.disclaimer > :last-child {
	margin-bottom: 0;
}

.disclaimer-title {
	font-weight: bold;
}

.kek {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	background-color: black;
	color: #fff;
	padding: 5rem 0;
	margin: 1.5rem 0;
	font-weight: bold;
	text-align: center;
}

.kek > p {
	font-size: 2rem;
	font-weight: bold;
	margin: 2rem;
}

.img-right {
	float: right;
	height: 10rem;
	margin: 0 0 0 1.6rem;
}

#modal-prev,
#modal-next {
	cursor: pointer;
	position: absolute;
	padding: 0 2rem;
	top: calc(50% - 4.5rem);
	font-size: 6rem;
	line-height: 9rem;
	color: rgba(255,255,255,0.8);
	font-weight: bold;
}

#modal-prev:hover,
#modal-next:hover {
	text-decoration: none;
}

#modal-prev {
	left: 0;
}

#modal-next {
	right: 0;
}

.post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.post-container > :first-child {
	margin-top: 0;
}

.post-container > :last-child {
	margin-bottom: 0;
}

.post {
	width: 65rem;
	height: 30rem;
	background-color: black;
	background-image: url('/img/index/1.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: 30rem;
	margin: 2rem 0;
	border: 0.2rem solid #fff;
	border-radius: 2px;
	box-shadow: -0.2rem 0.2rem 0 #000, -0.4rem 0.4rem 0 #fff;
	color: #fff;
}

.post > p {
	font-size: 1rem;
	font-weight: bold;
	margin: 2rem 3rem;
	max-width: 32rem;
}

.post > h2 {
	font-size: 2.5rem;
	font-weight: bold;
	margin: 2rem 3rem;
	text-shadow: -0.05rem 0.05rem 0 #f00, -0.1rem 0.1rem 0 #0f0, -0.15rem 0.15rem 0 #00f;
	/*text-shadow: -0.05rem 0.05rem 0 #000, -0.1rem 0.1rem 0 #fff;*/
}

.post form {
	margin: 3rem;
}

.post button {
	cursor: pointer;
	font-weight: bold;
	border-radius: 2px;
	background-color: #fff;
	border: none;
	height: 2.5rem;
	width: 7rem;
}
