html {
	font-size: 62.5%;
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100%));
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #252525; /* Wikipedia */
}

header {
	background: #000;
	text-align: center;
	overflow: auto;
}

.page-header {
	color: #fff;
	display: table;
	font-weight: bold;
	font-size: 7rem;
	margin: 10rem auto;
}

.page-header:hover {
	text-decoration: none;
}

@media (max-width: 812px) {
	.page-header {
		font-size: calc(5 / 58 * 100vw); /* = 70 / 812 * 100vw */
		margin: calc(25 / 203 * 100vw) auto; /* = 100 / 812 * 100vw */
	}
}

main {
	max-width: 108rem;
	margin: 4rem auto 6rem auto;
}

main > :first-child {
	margin-top: 0;
}

main > :last-child {
	margin-bottom: 0;
}

footer {
	max-width: 108rem;
	min-height: 3.2rem;
	margin: 6rem auto 4rem auto;
	overflow: hidden; /* Because of floating elements */
}

@media (max-width: 1160px) {
	main, footer {
		max-width: calc(100vw - 40px - 40 * 100vw / 1160);
	}
}

footer > :first-child {
	margin-left: 0;
}

footer > :last-child {
	margin-right: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.footer-text {
	margin: 0.4rem 1.6rem;
}

.delta-footer {
	height:3.2rem;
	position:absolute;
	left: 50vw;
	margin: 0 0 0 -1.6rem;
	enable-background:new 0 0 1000 1000;
	transition: all .4s;
}

.delta-footer:hover {
	transform: translate(-0.48rem, -0.4rem) rotate(-30deg);
}

@media (max-width: 500px) {
	.footer-text {
		display: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #000;
	line-height: 1.2;
}

h2 {
	font-weight: normal;
}

a {
	color: #2d89ef;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p > a:after,
li > a:after {
	display: inline-block;
	content:"";
	position: relative;
	background-image: url('/img/link_out.svg');
	margin: 0;
	top: 0.2rem;
	left: 0.2rem;
	margin-right: 0.2rem;
	background-size: 1.6rem 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
}

p > a:not([href*="//"]):after,
li > a:not([href*="//"]):after {
	background-image: url('/img/link_delta.svg');
	margin: 0;
	top: 0.1rem;
	left: 0.2rem;
	margin-right: 0.2rem;
	background-size: 1.6rem 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
}

p > a[href*="wikipedia.org"]:after,
li > a[href*="wikipedia.org"]:after {
	background-image: url('/img/link_wiki.svg');
	margin: -0.2rem;
	top: 0.3rem;
	left: 0.2rem;
	margin-right: 0;
	background-size: 2rem 2rem;
	width: 2rem;
	height: 2rem;
}

footer > a {
	color: #333;
}

img {
	max-width: 100%;
}

pre {
	overflow: auto;
	background-color: #f3f6fa;
	border: solid 1px #dce6f0;
	border-radius: 0.48rem;
	padding: 1.28rem;
}

code {
	background-color: #f3f6fa;
	padding: 0.32rem 0.32rem;
	border-radius: 0.48rem;
}

table {
	border-collapse: collapse;
	overflow: auto;
	display: block;
	margin: 1.6rem 0;
}

th, td {
	border: 1px solid #e9ebec;
	padding: 0.8rem 1.6rem;
}

dt {
	font-weight: bold;
}

hr {
	margin: 1.6rem 0;
	border-color: #e9ebec;
	border-style: solid;
}

p {
	margin: 1.6rem 0;
}

ol, ul {
	padding: 0;
	margin: 1.6rem 0;
	list-style-position: inside;
}

ul {
	list-style-type: none;
}

ul > li::before {
	content: "• "
}

d1, d2, d3, d4, d5, d6 {
	display: block;
	margin: 1rem 0 0 0;
	padding: 0 0 0 2.7rem;
	box-shadow: 2px 0 0 #ccc inset;
}

d1 > :first-child,
d2 > :first-child,
d3 > :first-child,
d4 > :first-child,
d5 > :first-child,
d6 > :first-child {
	margin-top: 0;
}

d1 > :last-child,
d2 > :last-child,
d3 > :last-child,
d4 > :last-child,
d5 > :last-child,
d6 > :last-child {
	margin-bottom: 0;
}















/* Style the Image Used to Trigger the Modal */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	text-align: center;
}

/* Modal Content (Image) */
.modal-content {
  margin: 1rem auto 0 auto;
  display: block;
  max-width: 80%;
	max-height: 83%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  display: inline-block;
  color: #ccc;
  margin: 1rem 0;
	max-width: 80%;
	max-height: 13%;
	overflow: auto;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom-fade-in;
  animation-duration: 0.2s;
	animation-timing-function: ease-out;
}

#caption {
  animation-name: fade-in;
  animation-duration: 0.2s;
	animation-timing-function: ease-out;
}

@keyframes zoom-fade-in {
  from {transform: scale(0.9); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
